<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Find Torrent Swarm Peers from DHT
    </h3>
  </div>
  <div class="panel-body">
    <p>
      Find peers for a torrent from the DHT, and generate
      a magnet link that can be used to start downloading
      from these peers.
    </p>

    <form ng-submit="dht.findPeers.onSubmit($event)">
      <div class="form-group">
        <label>
          Torrent infohash:
        </label>
        <input
          class="form-control btid"
          placeholder="e3811b9539cacff680e418124272177c47477157"
          ng-model="dht.findPeers.infohash"
        ></input>
      </div>
      <div class="form-group text-center">
        <button
          type="submit"
          class="btn btn-primary"
          ng-disabled="!dht.findPeers.infohash"
        >
          Find Peers
        </button>
      </div>
    </form>
  </div>
    <table
      ng-if="dht.peerRequests()"
      class="table table-condensed"
      style="width: 100%;"
    >
      <tr>
        <th>infohash</th>
        <th>status</th>
        <th>download</th>
      </tr>
      <tr
        ng-repeat="request in dht.peerRequests()"
        ng-class="{
          success: request.Peers.length > 1,
          warning: request.Peers.length == 1
        }"
      >
        <td class="btid" title="{{request.HexInfohash}}">
          {{request.HexInfohash.slice(0, 8)}}…
        </td>

        <td>
          <span ng-if="request.Peers.length > 1">
            found {{request.Peers.length}} peers
          </span>
          <span ng-if="request.Peers.length == 1">
            found 1 peer
          </span>
          <span ng-if="!request.Peers || request.Peers.length < 1">
            searching
          </span>
        </td>

        <td>
          <a href="magnet:?xt=urn:btih:{{request.HexInfohash}}">
            <span class="glyphicon glyphicon-download-alt"></span>
            magnet
          </a>
        </td>
      </tr>
  </div>
</div>
