<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Find Torrent Peers from DHT
    </h3>
  </div>
  <div class="panel-body">
    <p>
      Find peers for a torrent from the DHT.
    </p>

    <form ng-submit="dht.findPeers.onSubmit($event)">
      <div class="form-group">
        <label>
          Torrent infohash:
        </label>
        <input
          class="form-control btid"
          placeholder="e3811b9539cacff680e418124272177c47477157"
          ng-model="dht.findPeers.infohash"
        ></input>
      </div>
      <div class="form-group text-center">
        <button
          type="submit"
          class="btn btn-primary"
          ng-disabled="!dht.findPeers.infohash"
        >
          Find Peers
        </button>
      </div>
    </form>

    <table
      ng-if="dht.peerSearches()"
      class="table table-condensed"
      style="width: 100%;"
    >
      <tr>
        <th>infohash</th>
        <th>download</th>
        <th>status</th>
      </tr>
      <tr
        ng-repeat="search in dht.peerSearches()"
        ng-class="{
          success: search.peers.length > 1 &amp;&amp; search.finished,
          info: search.peers.length > 1 &amp;&amp; !search.finished,
          warning: search.peers.length == 1,
          danger: search.peers.length == 0 &amp;&amp; search.finished
        }"
      >
        <td class="btid" title="{{search.infohash}}">
          {{search.infohash.slice(0, 8)}}…
        </td>

        <td>
          <a
            href="magnet:?xt=urn:btih:{{search.infohash}}"
            title="Download torrent (does not include peers or metadata)"
          >
            <span class="glyphicon glyphicon-download-alt"></span>
            magnet
          </a>
        </td>

        <td
          title="found {{search.peers &amp;&amp; search.peers.length || 'no'}} peers with {{search.queriedNodesCount}} queries"
        >
          <span ng-if="!(search.peers &amp;&amp; search.peers.length) &amp;&amp; !search.finished">
            searching ({{search.queriedNodesCount}} queries)
          </span>
          <span ng-if="search.peers.length > 1">
            found {{search.peers.length}} peers
          </span>
          <span ng-if="search.peers.length == 1">
            found 1 peer
          </span>
          <span ng-if="!(search.peers &amp;&amp; search.peers.length) &amp;&amp; search.finished">
            failed ({{search.queriedNodesCount}} queries)
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
