
main {
  margin: 5%;
}

input {
  max-width: 75%;
}

h1 {
  white-space: nowrap;
  color: #111;
}

h1 code, h1 input {
  outline-width: 0;
  width: 30em;
  font: inherit;
  font-size: .5em;
  font-family: monospace;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  background: transparent;
}

input[disabled] {
  opacity: 0;
  animation-name: active;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes active {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1.0;
  }
}

input.successful {
  animation-name: successful;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes successful {
  0% {
    color: black;
  }

  5% {
    color: lime
  }

  100% {
    color: black;
  }
}

input.error {
  animation-name: error;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes error {
  0% {
    color: black;
  }

  5% {
    color: red
  }

  100% {
    color: black;
  }
}

h1 span {
  color: red;
}

h1 a, h1 a:hover {
  color: inherit;
  text-decoration: none
}

body h2 {
  font-size: 20px;
}

a:hover {
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

li li {
  padding: 0.5em 1.5em;
  padding-top: 1.0em∂;
}

li li + li {
  padding: 0.5em 1.5em;
}

em {  
  font-style: normal;
  opacity: 0.5;
  margin-left: 0.5em;
  font-family: monospace;
}

.nav {
  margin: 1.5em 0;
}

.nav a {
  display: inline-block;
  background: #FFF;
  border: 0.125em solid currentColor;
  padding: 0.5em;
  border-radius: 0.25em;
  margin: 1em;
  color: black;
  margin: 0.5em 4em;
}

.nav a:hover {
  background: #DEF;
  color: black;
  text-decoration: none;
}

pre {
  max-height: 22em;
}
